<strong class="app-section-title">Matchs</strong>
<mat-divider></mat-divider>

<app-form (valueChanges)="onValueChanges($event)" (formSubmit)="onSearch($event)">
  <div class="form-field-container">
    <mat-form-field class="form-text-search">
      <input ngModel matInput type="text" name="team" id="team" placeholder="Search by team">
    </mat-form-field>
    <mat-form-field>
      <input ngModel matInput [matDatepicker]="pickerBefore" name="dateBefore" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="pickerBefore"></mat-datepicker-toggle>
      <mat-datepicker #pickerBefore></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input ngModel matInput [matDatepicker]="pickerAfter" name="dateAfter" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="pickerAfter"></mat-datepicker-toggle>
      <mat-datepicker #pickerAfter></mat-datepicker>
    </mat-form-field>
    <button type="submit" mat-icon-button>
        <mat-icon>search</mat-icon>
    </button>
  </div>
</app-form>

<app-list [data]="matchs | async" (rowClick)="onRowClick($event)">
  <ng-template let-row let-name="name">
    <div [ngSwitch]="name">
      <div *ngSwitchCase="'teams'">
        {{ row[0]?.name }} {{ row[1]?.name }}
      </div>
      <div *ngSwitchCase="'date'">
        {{row | date}}
      </div>
      <div *ngSwitchCase="'winner'">
        {{row ? row.name : 'TBD'}}
      </div>
      <div *ngSwitchDefault>
        {{row}}
      </div>
    </div>
  </ng-template>
</app-list>


<app-modal height="220px" width="400px" #modal>
  <ng-container *ngIf="detail">
    <ng-container *ngIf="(detail.winner || detail.teams.length === 1)  else setCard">
      <div class="app-card-container">
        <span class="team-section">
          <div class="team-section-item;"> 
            <strong class="app-sub-title"> {{detail.score ? detail.score[0] : 0 }} </strong>        
          </div>
          <div class="team-section-item;">
            <strong class="app-sub-title">{{detail.teams[0].name}}</strong>        
          </div>
        </span>
        <span style="height: 100px; line-height: 150px;">
          <strong class="app-section-title">vs</strong>
        </span>
        <span class="team-section">
          <div class="team-section-item;"> 
            <strong class="app-sub-title"> {{detail.score ? detail.score[1] : 0  }}</strong>        
          </div>
          <div class="team-section-item;">
            <strong class="app-sub-title">{{detail.teams[1]? detail.teams[1].name : 'TBD'}}</strong>        
          </div>
        </span>
      </div>
      <mat-divider class="card-divider"></mat-divider>
    </ng-container>
  </ng-container>
</app-modal>

<ng-template #setCard>
  <app-form (formSubmit)="onSubmitScore($event)">
    <div class="app-card-container">
      <span class="team-section">
        <div class="team-section-item;"> 
          <mat-form-field class="form-field">
            <input ngModel matInput type="number" name="first" id="first" placeholder="set Score" required>
          </mat-form-field>
        </div>
        <div class="team-section-item;">
          <strong class="app-sub-title">{{detail.teams[0].name}}</strong>        
        </div>
      </span>
      <span style="height: 100px; line-height: 150px;">
        <strong class="app-section-title">vs</strong>
      </span>
      <span class="team-section">
        <div class="team-section-item;"> 
          <mat-form-field class="form-field">
            <input ngModel matInput type="number" name="second" id="second" placeholder="set Score" required>
          </mat-form-field>
        </div>
        <div class="team-section-item;">
          <strong class="app-sub-title">{{detail.teams[1].name}}</strong>        
        </div>
      </span>
    </div>
    <mat-divider class="card-divider"></mat-divider>
    <div class="button-containers">
      <button class="card-icon" (click)="onRandomScore()" mat-icon-button>
        <mat-icon>android</mat-icon>
      </button>
      <button class="card-icon" type="submit" mat-icon-button>
        <mat-icon>save</mat-icon>
      </button>
    </div>
  </app-form>
</ng-template>
