<app-form (valueChanges)="onValueChanges($event)" (formSubmit)="onSearch($event)">
  <div class="form-field-container">
    <mat-form-field class="form-text-search">
      <input ngModel matInput type="text" name="team" id="team" placeholder="Search by team">
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="pickerBefore" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="pickerBefore"></mat-datepicker-toggle>
      <mat-datepicker #pickerBefore></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="pickerAfter" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="pickerAfter"></mat-datepicker-toggle>
      <mat-datepicker #pickerAfter></mat-datepicker>
    </mat-form-field>
  </div>
</app-form>


<app-list [data]="matchs | async">
  <ng-template let-row let-name="name">
    <div *ngIf="name === 'teams'">
      {{ row[0]?.name }} {{ row[1]?.name }}
    </div>
    <div *ngIf="name === 'date'">
      {{row | date}}
    </div>
    <div *ngIf="name !== 'teams' && name !== 'date'">
      {{row}}
    </div>
  </ng-template>
</app-list>
