@import "../../../styles.scss";

.form-field-container {
    margin: 0 auto;
    width: 90%;

    button {
        color: $app-gray;
    }
}

.mat-form-field {
    margin: 0px 14px;

    &.form-text-search {
        width: 380px;
    }
}