/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$app-gray: #757575;

.mat-divider {
    margin: 0 0 17px 0;
}

strong {
    &.app-section-title {
        margin: 14px 0;
        font-size: x-large;
        color: $app-gray;
    }
}

