/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$app-gray: #757575;

.mat-divider {
    margin: 0 0 17px 0;
}

strong {
    &.app-section-title {
        margin: 0 8px;
        line-height: 50px;
        text-transform: uppercase;
        font-size: x-large;
        color: $app-gray;
    }
    &.app-sub-title {
        margin: 0 8px;
        line-height: 50px;
        text-transform: uppercase;
        font-size: large;
        color: $app-gray;
    }
    &.app-main-title {
        margin: 0 8px;
        line-height: 50px;
        text-transform: uppercase;
        font-size: x-large;
        color: #757575ab;
    }
}

.app-card-container {
    display: flex;
    text-align: center;
    width: 300px;
    margin: auto;

    .team-section {
        width:136px;
        height: 100px;

        .team-section-item {
            height: 50%;
            line-height: 50px;
        }

        .form-field {
            width: 100px;
        }
    }
}
.button-containers {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
    width: 75%;
}

button.card-icon {
    color: $app-gray;
}

.mat-divider.card-divider {
    margin: 17px 0 10px 0;
    border-top-width: 3px;
}

